<div class="dashbord">

    <div class="p-d-flex p-flex-wrap p-col-12 p-jc-between">
        <div class="dashbordCard p-col-3 p-p-0">
            <div class="p-d-flex p-ai-center p-p-3  ">
                <i class="pi pi-users color-blue"></i>
                <div class="dashbord-contant ">
                    <strong class="color-blue">USERS SIGNED UP</strong>
                    <span class="color-blue">3882</span>
                </div>

            </div>
            <div class="imgcard">
                <img class="" src="../../../assets/users.svg">
            </div>
        </div>

        <div class="dashbordCard p-col-3 p-p-0">
            <div class="p-d-flex p-ai-center p-p-3  ">
                <i class="pi pi-map color-yellow"></i>
                <div class="dashbord-contant ">
                    <strong class="color-yellow">USERS SIGNED UP</strong>
                    <span class="color-yellow">3882</span>
                </div>

            </div>
            <div class="imgcard">
                <img class="" src="../../../assets/locations.svg">
            </div>
        </div>

        <div class="dashbordCard p-col-3 p-p-0">
            <div class="p-d-flex p-ai-center p-p-3  ">
                <i class="pi pi-directions color-green"></i>
                <div class="dashbord-contant ">
                    <strong class="color-green">USERS SIGNED UP</strong>
                    <span class="color-green">3882</span>
                </div>

            </div>
            <div class="imgcard">
                <img class="" src="../../../assets/rate.svg">
            </div>
        </div>



        <div class="dashbordCard p-col-3 p-p-0">
            <div class="p-d-flex p-ai-center p-p-3  ">
                <i class="pi pi-comments color-darkbule"></i>
                <div class="dashbord-contant ">
                    <strong class="color-darkbule">USERS SIGNED UP</strong>
                    <span class="color-darkbule">3882</span>
                </div>

            </div>
            <div class="imgcard" style="margin-top: 3px;">
                <img class="" src="../../../assets/interactions.svg">
            </div>
        </div>
    </div>


    <div class="p-d-flex p-flex-wrap p-grid  -between p-p-0" >
        <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-3 p-pr-2 p-pt-0 p-pl-0 p-pb-0 p-mb-3 overviewdashbord"></div>
        <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-3 p-pr-2 p-pt-0 p-pl-0 p-pb-0 p-mb-3 overviewdashbord"></div>
        <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-3 p-pr-2 p-pt-0 p-pl-0 p-pb-0 p-mb-3 overviewdashbord"></div>
    </div>





















































</div>