<p-card [style]="{ width: '98%' }" styleClass="invoice">
    <ng-template pTemplate="header">

        <div class="p-d-flex  p-jc-between ">
            <div class="p-d-flex p-flex-column"><svg width="48" height="50" viewBox="0 0 48 50" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M33.1548 9.65956L23.9913 4.86169L5.54723 14.5106L0.924465 12.0851L23.9913 0L37.801 7.23403L33.1548 9.65956ZM23.9931 19.3085L42.4255 9.65955L47.0717 12.0851L23.9931 24.1595L10.1952 16.9361L14.8297 14.5106L23.9931 19.3085ZM4.6345 25.8937L0 23.4681V37.9149L23.0669 50V45.1489L4.6345 35.4894V25.8937ZM18.4324 28.2658L0 18.6169V13.7658L23.0669 25.8403V40.2977L18.4324 37.8615V28.2658ZM38.7301 23.468V18.6169L24.9205 25.8403V49.9999L29.555 47.5743V28.2659L38.7301 23.468ZM43.3546 35.4892V16.1914L48.0008 13.7659V37.9148L34.1912 45.1488V40.2977L43.3546 35.4892Z"
                        fill="var(--primary-color)"></path>
                </svg>
                <h2 class="p-mb-3 ">YOUR COMPANY</h2>
                <span class="p-mb-2 span">9137 3rd Lane California City</span>
                <span class="span">CA 93504, U.S.A.</span>
            </div>

            <div class="p-d-flex p-flex-column mt-5 ">
                <h3 class="">INVOICE</h3>
                <div class="p-d-flex p-flex-column">
                    <div class="p-d-flex p-jc-between p-ai-center  p-mb-2">
                        <label class=" labelbold  p-mr-5">DATE</label>
                        <span class="span">30/08/2019</span>
                    </div>
                    <div class="p-d-flex p-jc-between p-ai-center  p-mb-2">
                        <label class=" labelbold  p-mr-5">INVOICE #</label>
                        <span class="span">8523</span>
                    </div>
                    <div class="p-d-flex p-jc-between p-ai-center ">
                        <label class=" labelbold  p-mr-5">CUSTOMER ID</label>
                        <span class="span">C1613</span>
                    </div>
                </div>
            </div>
        </div>

        <p-divider />

        <div class="p-d-flex p-flex-column">
        <h4 class="p-mb-3 ">BILL TO</h4>
        <span class="p-mb-2 span">9137 3rd Lane California City</span>
        <span class="span">CA 93504, U.S.A.</span>
    </div>

    </ng-template>
    <div class="card p-mt-5">


        <p-table [value]="products">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>






        <div class="p-d-flex  p-jc-between p-mt-5 ">
            <div class="p-d-flex p-flex-column">
                <h5 class="p-mb-3 ">NOTES</h5>
              
            </div>

            <div class="p-d-flex p-flex-column mt-5 ">
                <div class="p-d-flex p-flex-column">
                    <div class="p-d-flex p-jc-between p-ai-center  p-mb-2">
                        <label class=" labelbold  p-mr-5">SUBTOTAL</label>
                        <span class="span">$332.00</span>
                    </div>
                    <div class="p-d-flex p-jc-between p-ai-center  p-mb-2">
                        <label class=" labelbold  p-mr-5">VAT #</label>
                        <span class="span">$332.00</span>
                    </div>
                    <div class="p-d-flex p-jc-between p-ai-center ">
                        <label class=" labelbold  p-mr-5">TOTAL</label>
                        <span class="span">$332.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</p-card>