.layout-sidebar {
    background: #ffffff;
    position: fixed;
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    top: 70px;
    z-index: 999;

    .layout-menu-container {
        text-align: center;
        ul{
            padding: 0px;
            display: flex;
            flex-direction: column;
            li{
                padding: 10px 16px;
                font-size: 24px;
                color: #495057;
            }
        }
    }
}