

.dashbord {
    .profilepic {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .dashbordavater {
            border: 3px solid #1992d4;

        }

        .avatername {
            font-size: 22px;
            font-weight: 300;
            color: #6c757d;
        }

        .avaternameposi {
            font-size: 14px;
            font-weight: 300;
            color: #6c757d;

        }
    }

    .dashbordCard {
        background: #ffffff;
        margin-bottom: 1rem;
        box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
        border-radius: 18px;
        width: 280px;
        height: 120px;

        .dashbord-contant {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }

    }


    div {
        >i {
            font-size: 42px;
        }
    }

    .imgcard {
        img {
            width: 100%;
            border-radius: 18px;
        }
    }

    


























}