<div class="layout-sidebar">
    <div class="layout-menu-container">
        <ul>
            @for(item of items; track item ){

            <!-- <li class="p-mb-4" (click) = "routeMenu(item.route)" [class]=item.icon   [pTooltip]="item.label" 
            tooltipPosition="right" ></li> -->
            <li class="p-mb-4"  [class]=item.icon [pTooltip]="item.label" tooltipPosition="right"
            (click)="openOverlay($event, item)" ></li>

            }
        </ul>



    </div>
</div>



<p-overlayPanel #op [dismissable]="true" appendTo="body" styleClass="topbaroverlay left">
    <ng-container *ngIf="selectedItem">
        <div *ngIf="selectedItem.items">
            <ul>
                <li *ngFor="let subItem of selectedItem.items" class="p-mb-3" (click) = "routeMenu(subItem.route)"> <i [class]=subItem.icon ></i>{{ subItem.label }}</li>
            </ul>
        </div>
    </ng-container>
</p-overlayPanel>
