/* You can add global styles to this file, and also import other style files */
@import "./assets/layouts/topbar.scss";
@import "./assets/layouts/sidebar.scss";

@import "./assets/components/dashbord.scss";
@import "./assets/components/login.scss";
@import "./assets/components/invoice.scss";
@import "./assets/components/reacharge.scss";



body {
    overflow: auto;
    height: 100vh;
    margin: 0px;
    // padding: 0px;
}
.p-grid{
    margin: 0px;
}
.width{
    width: 100% !important;
}
.color-green {
    color: #27ab83 !important;
}

.color-yellow {
    color: #de911d !important;
}

.color-blue {
    color: #1992d4 !important;
}

.color-darkbule {
    color: #ba6ff4 !important;
}
.color-lightbule{
    color: #4c63b6;
}

.span{
   color: #495057;
   font-size: 14px;
}
.labelbold{
    font-weight: 600 !important;
    font-size: 14px;
    color: #495057;
}

// components Csss
.p-button {
    padding: 8px 14px;
    font-size: 12px;

    .p-button-icon {
        font-size: 12px;
    }
    &.p-button-outlined{
        border: 1px solid #4C63B6;
        padding: 4px 12px;
        margin-right: 4px;
        color: #4C63B6;
        &:enabled:focus {
            box-shadow: none;
            outline: none;
            background: #3356d330;
        }
    }
}

.p-inputtext {
    margin: 0;
    padding: 6px;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}
.p-icon-field-left > .p-inputtext {
    padding: 10px 0px 10px 36px;
}

.p-input-icon-left>.p-inputtext {
    padding-left: 32px;
}

.p-inputgroup{
    .p-inputgroup-addon{
        padding: 6px 12px;
    }
}

.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.p-tabview {
    .p-tabview-nav-container {
        .p-tabview-nav-content {
            .p-tabview-nav-link {
                padding: 10px;
                font-size: 12px;
            }
        }
    }

}


.p-card {
    box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
    padding: 1rem;
    border-radius: 14px;
    margin-bottom: 10px;


    .p-card-header {
        .tablecard {
            display: flex;
            justify-content: space-between;
            text-align: center;
            background: #f8f9fa;
            border: 1px solid #dee2e6;
            padding: 1.25rem;
            border-radius: 6px;
            margin-bottom: 16px;
        }
    }


    .p-card-body {
        padding: 0px;

        .p-card-content {
            padding: 0px;
        }
    }


}


.layout-content {
    position: fixed;
    margin: 60px 0px 0px 66px;
    border-top: 1px solid #dfe7ef;
    // overflow: auto;
    // height: 100vh;
    width: calc(100% - 36px);
    padding:1rem 2rem;
    background-color: #eff3f8;
    border-top-left-radius: 30px;
    box-shadow: inset 0 5px 7px #0000001a;

    @media screen and (max-width :999px) {
        width: calc(100% - 45px);
    }


    .bradcrum{
        &.p-breadcrumb{
            padding: 0px;
            background: transparent;
            border: none;
            .p-breadcrumb-list{

                .p-menuitem-separator{
                    .p-icon-wrapper{
                        display: none;
                    }
                    &::before{
                        content: '/';

                    }
                }
            }
        }
    }

    label {
        font-weight: 500;
    }

    .layout-section{
        position: relative;
        overflow: auto;
        height: 100vh;
    }

}

.footer{
    display: flex;
    justify-content: space-between;

    height: 30%;
}